<ul class="list-group text-center">
  <li class="list-group-item">
    Beds: {{ valuesReservation.beds }} - {{ valuesReservation.name }} -
    {{ valuesReservation.checkin }} -
    {{ valuesReservation.checkout }}
    <p class="reservation_number">Rooms: {{ valuesReservation.rooms }}</p>
    <label for="start">Start date:</label>
    <input
      class="m-3"
      name="date"
      [(ngModel)]="dateinitialUpdate"
      type="date"
      required
    />
    <label for="start">End date:</label>
    <input
      class="m-3"
      name="date"
      [(ngModel)]="dateendUpdate"
      type="date"
      required
    />
    <span
      class="reservation_update"
      (click)="updateReservation(valuesReservation)"
      >Accept</span
    >
    <span class="reservation_delete" (click)="changeStateReservation()"
      >Cancel</span
    >
  </li>
</ul>
