<h3 class="text-center">search availability Room: {{ valuesRoomsId }}</h3>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-tittle text-center">
      Gets the availability for a room type for a set of days
    </h4>
    <button class="close" aria-label="close" type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-availability [valuesRoomsDate]="valuesInputs"></app-availability>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="close()">Ok</button>
  </div>
</ng-template>

<div class="text-center">
  <label for="start">Start date:</label>
  <input
    class="m-3"
    name="date"
    [(ngModel)]="dateinitial"
    type="date"
    required
  />
  <label for="start">End date:</label>
  <input class="m-3" name="date" [(ngModel)]="dateend" type="date" required />
  <hr />
  <button
    type="button"
    class="btn btn-success"
    (click)="open(content, dateinitial, dateend)"
  >
    Search
  </button>
</div>
