<label for="start">End date:</label>
{{ valuesRoomsDate[0].dateend }}
<label for="start">Start date:</label>
{{ valuesRoomsDate[0].dateinitial }}
<label for="start">Number:</label>
{{ valuesRoomsDate[0].id }}
