.rooms_items {
  border-radius: 12px;
  margin: 4px;
  cursor: pointer;
  color: white;
  background: rgb(125, 123, 145);
}

.rooms_items:hover {
  background: rgb(18, 11, 116);
}

.rooms_title {
  display: block;
}

.rooms_number {
  color: white;
  background: rgb(18, 11, 116);
  border-radius: 20px !important;
  font-size: "14px";
}

.rooms_number:hover {
  color: white;
  background: rgb(125, 123, 145) !important;
  border-radius: 20px !important;
  font-size: "14px";
}
