<div class="container text-center">
  <h2 class="d-inline-block text-center">
    select an room for validated disponibility
  </h2>
  <div class="row text-center">
    <div class="row" *ngFor="let items of rooms">
      <div class="col">
        <div
          (click)="search(items)"
          class="rooms_items rooms__name btn btn-primary"
        >
          {{ items.name }}
          <p>beds: {{ items.beds }}</p>
          <p>Number:</p>
          <h5 class="rooms_number">{{ items.id }}</h5>
        </div>
      </div>
    </div>
  </div>
  <app-modal
    [valuesRoomsId]="idRooms"
    (emitModal)="eventEmitModal($event)"
    *ngIf="searchAvailability"
  ></app-modal>
  <ul class="list-group text-center" *ngFor="let items of reservation">
    <li class="list-group-item">
      <div #idUnico *ngIf="stateUpdateReservation">
        <app-reservation
          [valuesReservation]="items"
          (emits)="emitEvent($event)"
        ></app-reservation>
      </div>
      <div *ngIf="!stateUpdateReservation">
        Beds: {{ items.beds }} - {{ items.name }} - {{ items.checkin }} -
        {{ items.checkout }}
        <p class="reservation_number">Rooms: {{ items.rooms }}</p>
        <span class="reservation_update" (click)="changeStateReservation()"
          >update</span
        >
        <span class="reservation_delete" (click)="deleteReservation(items)"
          >delete</span
        >
      </div>
    </li>
  </ul>
</div>
