/* You can add global styles to this file, and also import other style files */
.reservation_update {
  border-radius: 12px;
  margin: 6px;
  padding: 6px;
  cursor: pointer;
  color: white;
  background: rgb(125, 123, 145);
}

.reservation_delete {
  border-radius: 12px;
  margin: 6px;
  padding: 6px;
  cursor: pointer;
  color: white;
  background: rgb(196, 24, 32);
}

.reservation_delete:hover {
  color: white;
  padding: 6px;
  background: rgb(145, 123, 132) !important;
  border-radius: 20px !important;
  font-size: "14px";
}

.reservation_update:hover {
  color: white;
  padding: 6px;
  background: rgb(146, 135, 140) !important;
  border-radius: 20px !important;
  font-size: "14px";
}

.reservation_number {
  border-radius: 12px;
  margin: 6px;
  padding: 6px;
  cursor: pointer;
  color: white;
  background: rgb(18, 11, 116);
}
